In [10]:

import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv("Stocks/tsla.us.txt")

In [12]:
df.tail()

            Date    Open    High     Low   Close   Volume  OpenInt
1853  2017-11-06  307.00  307.50  299.01  302.78  6482486        0
1854  2017-11-07  301.02  306.50  300.03  306.05  5286320        0
1855  2017-11-08  305.50  306.89  301.30  304.31  4725510        0
1856  2017-11-09  302.50  304.46  296.30  302.99  5440335        0
1857  2017-11-10  302.50  308.36  301.85  302.99  4621912        0

In [13]:
from statsmodels.tsa.stattools import adfuller

In [14]:
def adtest(dataset):
    dftest = adfuller(dataset, autolag="AIC")
    print("1. ADF : ", dftest[0])
    print("2. P-VALUES : ", dftest[1])
    print("3. NUM OF LAGS : ", dftest[2])
    print("4. NUM OF OBSERVATIONS USED FOR THE ADF REGRESSION AND CRITICAL VALUES CALCULATION : ", dftest[3])
    print("5. CRITICAL VALUES : ")
    for key, val in dftest[4].items():
        print("\t", key, ": ",val)

In [15]:
adtest(df['Volume'])

1. ADF :  -2.8584722829948017
2. P-VALUES :  0.05039461134316187
3. NUM OF LAGS :  23
4. NUM OF OBSERVATIONS USED FOR THE ADF REGRESSION AND CRITICAL VALUES CALCULATION :  1834
5. CRITICAL VALUES :
	 1% :  -3.4339205977576532
	 5% :  -2.863117219476073
	 10% :  -2.5676096573745166